			@import url('https://fonts.googleapis.com/css?family=Lato');

			#aino-talking {
			    position: fixed;
			    top: 0%;
			    left: 0%;
			    min-width: 30%;
			    min-height: 100%;
			    width: auto;
			    height: auto;
			    background: transparent;
			}

			#aino-dancing {
			    position: fixed;
			    top: 0%;
			    left: 0%;
			    min-width: 100%;
			    min-height: 100%;
			    width: auto;
			    height: auto;
			    background: #000;
			}

			#aino-idle {
			    position: fixed;
			    top: 0%;
			    left: 0%;
			    min-width: 30%;
			    min-height: 100%;
			    width: auto;
			    height: auto;
			    background: transparent;
			}
			    // Hidden class for Mozilla and others with no display none support
			.hidden {
				visibility:hidden; 
				height:0; 
				width: 0;
				opacity:1;
			}

			body, html{
				height: 100%;
				font-family: 'Lato', sans-serif;
				color: #191818;
				background: #000;
			}

			.container ul{
				list-style: none;
				margin: 0;
				padding: 0;
				overflow: auto;
			}

			section{
				font-family: 'Lato', sans-serif;
				color: #444;
			}

			ul li{
				color: #fff;
				display: block;
				position: relative;
			}

			ul li input[type=radio]{
				position: absolute;
				visibility: hidden;
			}

			ul li label{
				display: block;
				position: relative;
				font-size: smaller;
				padding: 25px 25px 25px 80px;
				z-index: 9;
				cursor: pointer;
				-webkit-transition: all 0.25s linear;
			}

			ul li:hover label{
				color: #FFFFFF;
			}

			ul li .check{
				display: block;
				position: absolute;
				border: 3px solid #AAAAAA;
				border-radius: 100%;
				height: 0.5em;
				width: 0.5em;
				top: 30px;
				left: 20px;
				z-index: 5;
				transition: border .25s linear;
				-webkit-transition: border .25s linear;
			}

			ul li:hover .check {
				border: 3px solid #FFFFFF;
			}

			ul li .check::before {
				display: block;
				position: absolute;
				content: '';
				border-radius: 100%;
				height: 0.5em;
				width: 0.5em;
				top: 5px;
				left: 5px;
				margin: auto;
				transition: background 0.25s linear;
				-webkit-transition: background 0.25s linear;
			}

			input[type=radio]:checked ~ .check {
				border: none;
			}

			input[type=radio]:checked ~ .check::before{
				background: #e60000;
			}

			input[type=radio]:checked ~ label{
				color: #e60000;
			}

			.aino-speech {        
			    display: block;
			    background: transparent;
			    color: #fff;
			    padding: 5px;
			    width: 80%;
			    margin-left: 7em;
			    font-size: xx-large;
			}

			.aino-speech-dancing {        
			    display: block;
			    background: transparent;
			    color: #fff;
			    padding: 5px;
			    width: 50%;
			    margin-left: 70%;
			    font-size: xx-large;
			}

			input .aino-speech::before {
			    background: none;
			    border-left: 0;
			    border-top: 0;
			    border-right: 0;
			    color: #fff;
			    display: block;
			    margin: 2em;
			    font-size: larger;
			}

			input .aino-speech {
			    background: none;
			    border-left: 0;
			    border-top: 0;
			    border-right: 0;
			    color: #fff;
			    display: block;
			    margin: 2em;
			    font-size: larger;
			}

